@page "/"
@using BlazorFinance.Shared.Models
@using System
@inject HttpClient Http

<h3>Portfolio Summary</h3>

@if (Quotes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Card>
        <CardHeader>
            Asset Snapshot
        </CardHeader>
        <CardBody>
            <DataGrid TItem="StockModel" Data="@Quotes" Responsive>
                 <DataGridColumn Field="@nameof(StockModel.Symbol)" Caption="Symbol" />
                 <DataGridColumn Field="@nameof(StockModel.Name)" Caption="Name" />
                 <DataGridNumericColumn Field="@nameof(StockModel.Quote)" Caption="Market Price" />
             </DataGrid>
        </CardBody>
    </Card>
}

@code {
    private List<StockModel> Quotes = new List<StockModel>();

    protected override async Task OnInitializedAsync()
    {
        //Quotes = await Http.GetFromJsonAsync<List<StockModel>>("portfolio") ?? new List<StockModel>();
    }
}
