@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content">
            <ContentHeader></ContentHeader>
            <BlazoredToasts Position="ToastPosition.TopCenter" />
            @Body
        </article>
    </main>
</div>
