
<div class="content-header">
    <div class ="col1">
        @ChildContent
    </div>
    <div class="col2">
        <div class="dropdown">
            <button class="content-menu " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="content-logo"></div>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                    <a class="dropdown-item" href="import">
                        <span class="oi bi-pie-chart" aria-hidden="true"></span> Import
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="help">
                        <span class="oi bi-pie-chart" aria-hidden="true"></span> Help
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
